* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background: linear-gradient(
    90deg,
    rgb(10, 127, 98) 80%,
    rgb(74, 163, 76) 100%
  );
  align-items: center;
  padding: 0px 38px;
  position: fixed;
  width: 100%;
  margin-bottom: 60px;
  z-index: 999;
}

.header--contents {
  display: flex;
  align-items: center;
}

.nav--seven-eleven-logo {
  width: 70x;
  height: 71.852px;
  margin-top: 24px;
  margin-right: 42px;
  z-index: 101;
  cursor: pointer;
}

.nav--location-logo {
  width: 30px;
  height: 29px;
  margin-right: 4px;
  cursor: pointer;
}

.nav--location {
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.navdiv {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0px 12px;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
}

ul {
  align-items: center;
}

li > a:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.ul--dropdown-arrow {
  width: 8px;
  margin-left: 6px;
  padding: 0;
}

ul > li,
ul > img {
  align-items: center;
}

.ul--cliqq {
  width: 60px;
  height: 30px;
  margin-bottom: -13px;
  margin-right: -6px;
}

.ul--cliqq:hover {
  opacity: 0.6;
  cursor: pointer;
}

.ul--search {
  margin-left: 16px;
  margin-right: 20px;
  margin-bottom: -5px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.section1--hr-container {
  margin-top: 60px;
  position: fixed;
}

.header--horizontal-line {
  padding: 0 0;
  border: 0;
  margin: 0;
  height: 5px;
  width: 140%;
  display: fixed;
  background-image: linear-gradient(
    90deg,
    rgb(10, 127, 98) 0%,
    rgb(74, 163, 76) 33%,
    rgb(239, 113, 57) 66%,
    rgb(223, 64, 51) 100%
  );
}

.section1 {
  padding-top: 60px;
  margin-bottom: 60px;
  height: 290px;
  width: 100%;
  background-color: green;
  border-bottom: 4px solid #4aa34c;
}

.section1--horizontal-line {
  margin-top: 2000px;
  position: fixed;
}

.section2 {
  background-color: #fffae7;
  height: 93vh;
  width: 100%;
  padding: 48px;
  text-align: center;
}

.section2--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 20px 0px;
}

.section2--title,
section3-title {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.section2--title1 {
  color: #0a7f62;
}

.section2--title2 {
  color: #dc3545;
}

.section2--description,
.section4--description {
  text-align: center;
  line-height: 27px;
  color: rgb(52, 52, 52);
  font-size: 18px;
  font-weight: 400;
  padding: 8px 0px;
}

.section2--img {
  display: flex;
  max-width: 100%;
  height: auto;
  padding: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.box {
  color: white;
  height: 306px;
  cursor: pointer;
  position: relative;
}

.section3--right-arrow {
  width: 40px;
  margin-right: 12px;
  align-items: center;
}

.section2--box-description,
.section3--box-description {
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgb(250, 174, 0) 0%,
    rgb(239, 113, 57) 100%
  );
  height: 64px;
  padding: 8px 16px;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.section2--button-container,
.section3--button-container,
.section4--button,
.section6--button {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: white;
}

.section2--button {
  background: linear-gradient(90deg, #47c46d 0%, #50b588 33.33%);
}

.section2--button,
.section3--button,
.section4--button,
.section6--button,
.section7--button,
.section8--button {
  padding: 12px 48px;
  font-size: 16px;
  border-radius: 32px;
  border: none;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.section2--button:hover {
  background: linear-gradient(90deg, #f8cb47 0%, #f4b242 33.33%);
}

.section3 {
  align-items: center;
  margin: 48px 50px;
}

.section3-title {
  color: #0a7f62;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 16px;
}

.section3--grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px; /* Adjust the gap between grid items */
  row-gap: 20px;
}

.section3--grid-item:hover {
  transform: translateY(-4px) translateX(4px);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section3--grid-item {
  text-align: center;
}

.section3--grid-item,
.section4--grid-item {
  cursor: pointer;
}

.section3--img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.section3--box-description {
  display: flex;
  background: #0a7f61;
  margin-top: 110px;
  padding-top: 34px;
  padding-bottom: 34px;
  text-align: left;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.section3--right-arrow {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
}

.section3--button-container {
  margin-top: 20px;
}

.section3--button {
  background: linear-gradient(90deg, #f8cb47 0%, #f4b242 33.33%);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.section3--button:hover {
  background: linear-gradient(90deg, #47c46d 0%, #50b588 33.33%);
}

.section3--anchor {
  text-align: center;
}

.promo {
  color: rgb(7, 136, 220);
}

.section4--container,
.section6--container {
  height: 70vh;
  background-color: green;
  text-align: left;
  color: white;
  display: flex;
  padding-left: 60px;
  align-items: center;
  position: relative;
}

.section4--container {
  background-image: linear-gradient(
    to left,
    #4bff85,
    #50ff7f,
    #55ff7a,
    #5aff74,
    #5fff6e,
    #3ffb8b,
    #1df7a3,
    #00f1b7,
    #00e1dd,
    #00cefb,
    #00b6ff,
    #0099ff
  );
}
.section4--title,
.section6--title {
  font-size: 32px;
}

.section4--description {
  color: white;
  text-align: left;
}

.section4--button,
.section6--button {
  color: #0a7f62;
  padding: 12px 24px;
  margin-top: 10px;
}

.section4--description,
.section4--title,
.section4--button,
.section6--title,
.section4--description,
.section6--title,
.section6--description,
.section6--button {
  margin-bottom: 16px;
  z-index: 5;
}

.section4--img,
.section6--img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1000px;
  z-index: 4;
}

.section5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 105vh;
  background-color: white;
  padding: 70px;
}

.section5--container {
  margin-left: 20px;
  margin-top: -5px;
  grid-column: 2;
}

.section5--title {
  font-size: 32px;
  color: #0a7f62;
  margin-bottom: 16px;
  margin-left: 30px;
}

.section5--list1 li {
  margin-bottom: 10px;
}

.ul--cliqq-check {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  width: 23px;
  height: auto;
}

.section5--list1 li span {
  color: black;
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 60px);
  font-size: 16px;
}

.section5--list2 li {
  margin-bottom: 10px;
}

.ul--cliqq-check {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  width: 23px;
  height: auto;
}

.section5--list2 li span {
  color: black;
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 60px);
  font-size: 16px;
}

.section5--par {
  margin-top: -20px;
  margin-left: 417px;
}

.deals {
  color: rgb(7, 136, 220);
}

.section5--download {
  color: #343434;
  font-size: 19.2px;
  margin-top: 60px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 50px;
}

.section5--learn {
  font-size: 16px;
  margin-left: 50px;
  margin-top: 8px;
}

.learn {
  color: rgb(7, 136, 220);
}

.section5--dl {
  margin-left: 47px;
}

.section5--img {
  margin-top: -550px;
  margin-left: 55px;
  margin-bottom: 50px;
  max-width: 100%;
}

.section6--container {
  height: 70vh;
  background: rgb(71, 196, 109);
  margin-top: 200px;
}

.section6--img {
  width: 98vh;
  margin-right: 90px;
}

.section6--button {
  width: 280px;
}

.section6--button:hover {
  opacity: 0.9;
}

.section7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 93vh;
  background-color: white;
  padding: 80px;
}

.section7--container {
  margin-top: -130px;
}

.section7--title {
  font-size: 32px;
  color: #0a7f62;
  margin-bottom: 16px;
  margin-left: 30px;
}

.section7--list1 li {
  margin-bottom: 10px;
}

.ul--cliqq-check {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  width: 23px;
  height: auto;
}

.section7--list1 li span {
  color: black;
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 50px);
  font-size: 16px;
}

.section7--list2 li {
  margin-bottom: 10px;
}

.ul--cliqq-check {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  width: 23px;
  height: auto;
}

.section7--list2 li span {
  color: black;
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 50px);
  font-size: 16px;
}

.section7--par {
  margin-top: -8px;
  margin-left: 413px;
}

.big {
  color: rgb(7, 136, 220);
}

.section7--img {
  max-width: 85%;
  margin-top: 10px;
  margin-left: 75px;
}

.section7--button-container {
  margin-top: -200px;
  margin-left: 40px;
}

.section7--button,
.section8--button {
  background: linear-gradient(90deg, #47c46d 0%, #50b588 33.33%);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.section7--button:hover {
  background: linear-gradient(90deg, #f8cb47 0%, #f4b242 33.33%);
}

.section8 {
  background-image: url("images/main-page/section8--img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section8--container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section8--left {
  display: flex;
  margin-right: 70px;
}

.section8-right {
  text-align: center;
}

.section8--logo {
  height: 217px;
}

.section8--title {
  color: rgb(33, 37, 41);
  font-size: 32px;
  line-height: 40px;
}

.section8--button {
  margin-top: 20px;
}
