* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

header {
  background: linear-gradient(
    90deg,
    rgb(10, 127, 98) 80%,
    rgb(74, 163, 76) 100%
  );
  align-items: center;
  padding: 0px 38px;
}

.header--contents {
  display: flex;
  align-items: center;
}

.nav--seven-eleven-logo {
  width: 70x;
  height: 71.852px;
  margin-top: 24px;
  margin-right: 42px;
  z-index: 101;
}

.nav--location-logo {
  width: 30px;
  height: 29px;
  margin-right: 4px;
}

.nav--location {
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 0.5px;
}

.navdiv {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0px 12px;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
}

ul {
  align-items: center;
}

li > a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.ul--dropdown-arrow {
  width: 8px;
  margin-left: 6px;
  padding: 0;
}

ul > li,
ul > img {
  align-items: center;
}

.ul--search {
  margin-left: 16px;
  margin-right: 20px;
  width: 21px;
  height: 21px;
}

.header--horizontal-line {
  border: 0;
  margin: 0;
  padding: 0;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgb(10, 127, 98) 0%,
    rgb(74, 163, 76) 33%,
    rgb(239, 113, 57) 66%,
    rgb(223, 64, 51) 100%
  );
}

.section1 {
  height: 290px;
  width: 100%;
  background-color: green;
  border-bottom: 4px solid #4aa34c;
}

.section2 {
  height: 555px;
  background-color: #fffae7;
  padding: 0px 48px;
}

.section2--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.section2--img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box {
  background-color: black;
  color: white;
  height: 306px;
}
